<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <main>
        <section>
            <div class="container text-center">
        <h1>Active Tournaments</h1>
        <div class="row items">
          <div class="item col-md-6 col-lg-4">
          <h2>Tournament 1</h2>
          <p>Player 1 v/s Player 2</p>
          <p>Player 3 v/s Player 4</p>
          <p>Player 5 v/s Player 6</p>
          <p>Player 7 v/s Player 8</p>
          </div>
    	
    	<div class="item col-md-6 col-lg-4">
            <h2>Tournament 2</h2>
            <p>Player 1 v/s Player 2</p>
          <p>Player 3 v/s Player 4</p>
          <p>Player 5 v/s Player 6</p>
          <p>Player 7 v/s Player 8</p>
            </div>
            
            <div class="item col-md-6 col-lg-4">
                <h2>Tournament 3</h2>
                <p>Player 1 v/s Player 2</p>
          <p>Player 3 v/s Player 4</p>
          <p>Player 5 v/s Player 6</p>
          <p>Player 7 v/s Player 8</p>
            </div>
    </div>
  </div>
  </div>
  </section>
    </main>
<% include partials/footer.ejs %>
    
